



@media (max-width: 800px){
    
    .header{
    grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 480px){
    .header{
    grid-template-columns: 1fr;
    }
 
}









@media (max-width: 800px){
    
    .container-2{
    grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 480px){
    .container-2{
    grid-template-columns: 1fr 1fr;
    }
 
}


/*copyright*/


@media (max-width: 800px){
    
    .copyright p{
        font-size: small;
      
    
   
    }

   
}


@media (max-width: 300px){
    .copyright p{
       font-size: small;
     
        
    }

    
 
}






