@media (max-width:1080px){
  .body-width{
    margin: auto;
    max-width:  850px;
   }
   .top-sales{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   }
   .top-sales :nth-child(6){
    display: none;
   }
}
@media (max-width:860px){
  .body-width{
    margin: auto;
    max-width:  700px;
   }
   .sections{
    display: flex;
    gap: 1rem;
  }
  .phone-section{
    width: 69%;
  }
  .browse-catergory-container{
    width: 31%;
  }
   .top-sales{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
   .top-sales :nth-child(5){
    display: none;
   }
   .phone-fig{
    padding-top: 1rem;
    display: grid; 
    grid-template-columns: repeat(3,1fr);
  }
 .phone-fig:nth-child(4){
    display:none;
  }
  .browse-category a{
    font-size: 9px;
    line-height: 2rem;
  }
  .price-list  input{
    font-size: 9px;
    margin: 0 1px;
  }
  .price-list label{
    font-size: 8px;
    line-height: 1.7rem;
  }
  .price-list label{
    font-size: 8px;
    line-height: 1.7rem;
  }
  .price-range input{
    height: 1.5rem;
  }
  .price-range button{
    width: 6rem;
    height: 1.5rem;
  }
   
  .browse-category h2{
    font-size: 12px;
  }
  #search{
    font-size: 12px;
  }
}


@media screen and (max-width: 768px) {
  .logo {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu-btn {
    display:block ;
  }

  .nav-content {
    display: none;
  }
  .menu-btn:hover + .nav-content,
  .nav-content:hover {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .body-width{
    max-width:  600px;
   }
   .top-sales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
   .top-sales :nth-child(4){
    display: none;
   }
   .top-sales img{
    height: 9rem;
  }
  .phone-fig figure img{
    height:5rem;
  }
  .phone-fig figure figcaption{
    font-size:7px
  }
  .phone-fig figure figcaption strong{
    font-size: 9px;
  }
  .add-to-cart-button{
    height: 1.8rem;
  }
  .add-to-cart-button strong{
    font-size: 9px;
  }
  .category-section{
    padding: 0.5rem;
  } 
  .chose-variety h3{
    font-size: 15px;
  }
  .chose-variety-menu-text a {
    font-size: 15px;
    color: #ffc000;
    padding: 1rem;
  }
}

@media screen and (max-width: 500px){
  .phone-section{
    width: 100%;
  }
 
  .grid-header{
    font-size: 15px;
    height: 2.5rem;
  }
  .grid-header a{
    font-size: 15px;
  }
  .browse-catergory-container{
    display: none;
  }
  .top-sales img{
    height: 7rem;
  }
  .phone-fig figure img{
    height:6rem;
  }

}

@media screen and (max-width: 418px){
  .phone-fig figure figcaption{
    line-height: normal;
  }
  .phone-fig figure figcaption strong{
    line-height: 15px;
  }
  .top-sales img{
    height: 5rem;
  }
  .phone-fig figure img{
    height:4rem;
  }
  .add-to-cart-button strong{
    font-size: 7px;
    display: flex;
    justify-content: center;
  }
  .add-to-cart-button{
    height: 1.2rem;
  }
}