@media screen and (max-width=400px){
    .top-navbar a{
        font-size: 13px;
    }      
.top-navbar a img{
        width: 15px;
    }
    top-navbar p{
        font-size: 13px;
    }
}
@media screen and (max-width=320px){
    .top-navbar a{
        font-size: 10px;
    }
     
    top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
}
@media screen and (max-width=318px){
    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
     
    top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
}