*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
   
    display: flex;
 justify-content: center;
 align-items:  center;

 padding-top: 120px;
   
    
}

/* 
.header{
    
    align-items:  center;   
} */

form> h2> span{
    color: #ffc000;
}
 


.Email{
    padding-top: 50px;
}
.Email input{
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    width: 100%;
}



.User-nmae{
    padding-top: 20px;
}
.User-nmae input{
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    width: 100%;
}



.Password{padding-top: 20px;
}
.Password input{
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    width: 100%;
}

.submit{
    padding-top: 30px;
}

.submit button{
    padding: 5px;
    border-radius: 5px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
    width: 100%;
}



    
