*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
   
     display: flex;
 justify-content: center;
 align-content:  center; 

 padding-top: 120px;
   
    
}



.header h2> span{
    color: #ffc000;
}
 


.Email{
    padding-top: 30px;
}
.Email input{
    padding: 10px;
    border-radius: 10px;
  
    border: 3px solid #800080;
    width: 260px;
   outline: none;
}



.User-nmae{
    padding-top: 10px;
}
.User-nmae input{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #800080;;
   
    width: 260px;
    outline: none;
}



.Password{padding-top: 10px;
}
.Password input{
    padding: 10px;
    border-radius: 10px;
   
    border: 3px solid #800080;
    width: 260px;
    outline: none;
}

.submit{
    padding-top: 15px;
}

.submit button{
    padding: 5px;
    border-radius: 5px;
    background-color: #ffc000;
   
    border: 2px solid #800080;
    cursor: pointer;
    width: 260px;
    font-weight: bold;
}



    
