
@media (max-width:1080px){
  .body-width{
    margin: auto;
    max-width:  850px;
   }
   .top-sales{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
   .top-sales :nth-child(5){
    display: none;
   }
   .phone-fig{
    padding-top: 1rem;
    display: grid; 
    grid-template-columns: repeat(3,1fr);
  }
 .phone-fig:nth-child(4){
    display:none;
  }
  .price-list label{
    font-size: 12px;
    line-height: 1.3rem;
  }
}
@media (max-width:860px){
  .body-width{
    margin: auto;
    max-width:  700px;
   }
   .sections{
    display: flex;
    gap: 1rem;
  }
  .phone-section{
    width: 69%;
  }
  .browse-catergory-container{
    width: 31%;
  }
   .top-sales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
   .top-sales :nth-child(4){
    display: none;
   }
   .phone-fig{
    padding-top: 1rem;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
  }
  .phone-fig figure img {
    height: 9rem;
  }
  .browse-category a{
    font-size: 13px;
    line-height: 2rem;
  }
  .price-list  input{
    font-size: 9px;
    margin: 0 1px;
  }

  .price-range input{
    height: 1.5rem;
  }
  .price-range button{
    width: 6rem;
    height: 1.5rem;
  }
   
  .browse-category h2{
    font-size: 12px;
  }
  #search{
    font-size: 12px;
  }
  .top-sales img{
    height: 10rem;
  }


  .menu-btn {
    display: flex;
  }
  

  .nav-content {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #800080;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-content.active {
    display: flex;
  }

  ul {
    flex-direction: column;
    text-align: center;
  }

  ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-content{
    width: 80%;
    margin: auto;
  }
  .links{
    width: 30%;
  }
}



@media screen and (max-width: 700px) {
  .links {
    top: auto;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .body-width{
    max-width:  600px;
   }
   .top-sales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
   .top-sales :nth-child(4){
    display: none;
   }
   
  .phone-fig figure img{
    height:5rem;
  }
  .phone-fig figure figcaption{
    font-size:11px
  }
  .phone-fig figure figcaption strong{
    font-size: 13px;
  }
  .add-to-cart-button{
    height: 1.8rem;
  }
  .add-to-cart-button strong{
    font-size: 9px;
  }
  .category-section{
    padding: 0.5rem;
  } 
  .chose-variety h3{
    font-size: 15px;
  }
  .chose-variety-menu-text a {
    font-size: 15px;
    color: #ffc000;
    padding: 1rem;
  }
  .phone-fig figure img{
    height:7rem;
  }
}

@media screen and (max-width: 583px){
  .top-navbar p,.top-navbar-link{
    font-size: 12px;
  }
  .alt-color,
  #span{
    font-size: 25px;
  }
  .icons .fa,#cart-number {
    font-size: small;
  }
  .phone-section{
    width: 100%;
  }
 
  .grid-header{
    font-size: 15px;
    height: 2.5rem;
  }
  .grid-header a{
    font-size: 15px;
  }
  .browse-catergory-container{
    display: none;
  }
  .top-sales img{
    height: 7rem;
  }
  .phone-fig figure img{
    height:9rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 15px;
  }
  .newsletter-form{
    display: flex;
    align-items: center;
  }
  .nav-header{
    flex-direction: column;
    height: auto;
    gap: 1rem;
    padding: 1rem;
  }
  .links a{
    font-size: small;
  }
}

@media screen and (max-width: 418px){
  .top-sales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
   .top-sales :nth-child(3){
    display: none;
   }
  .phone-fig figure figcaption{
    line-height: normal;
  }
  .phone-fig figure figcaption strong{
    line-height: 15px;
  }
  .top-sales img{
    height: 8rem;
  }
  .phone-fig figure img{
    height:7rem;
  }
  .add-to-cart-button strong{
    font-size: 7px;
    display: flex;
    justify-content: center;
  }
  .add-to-cart-button{
    height: 1.2rem;
  }
}

@media screen and (max-width: 399px){
  .phone-fig figure figcaption{
    font-size: 11px;
  }
  .phone-fig figure figcaption strong{
    line-height: 1.8rem;
  }
  .phone-fig figure img{
    height:6rem;
    width:7rem ;
  }
  .add-to-cart-button strong{
    font-size: 9px;
  }
  .add-to-cart-button{
    height: 1.8rem;
  }
  .top-sales figcaption {
    font-size: 11px;
  }
  .top-sales img{
    height: 7rem;
  }
  .grid-header h5 a{
    font-size: 13px;
  }
  .newsletter-form input::placeholder{
    font-size: 10px;
   }
   .newsletter-form input{
    width: 60%;
   }
   .newsletter-form button{
    width: 30%;
    font-size: 10px;
    height: 35px;
   }
}


@media screen and (max-width: 300px){
  .top-navbar{
    margin: 0 0.4rem;
  }
  .top-navbar p,.top-navbar-link{
    font-size: 9px;
  }

  .top-sales img{
    height: 5rem;
  }
  .top-sales figcaption {
    line-height: 13px;
  }
  .top-sales figcaption strong {
    line-height: 20px;
  }
 
  .phone-fig figure img{
    height:5rem;
    width: 6rem;
  }
  .chose-variety h3,
  .chose-variety-menu-text a{
    font-size: small;
  }
  .footer-links a,
  .footer-section a{
    font-size: 10px;
  }
  .footer-section h3{
    font-size: 15px;
  }
}

@media screen and (max-width: 264px){
  .top-sales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   }
   .top-sales :nth-child(3){
    display: none;
   }

  .top-sales img{
    height: 4rem;
  }
  .top-sales figcaption {
    font-size: 9px;
  }
  .phone-fig{
    display: grid;
    grid-template-columns: 1fr;
  } 
   .phone-fig:nth-child(2){
    display: none;
  }
  .phone-fig figure {
    display: flex;
    align-items: center;
  }
  .chose-variety h3,
  .chose-variety-menu-text a{
    font-size: 10px;
  }
  .phone-fig figure img{
    height: 6rem;
  }
}
