
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-family: 'Merriweather', serif;
}

html body {
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
<<<<<<< HEAD
ul,li{
  list-style: none;
}
.top-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 1rem;
}
.top-navbar p{
  font-size: 15px;
}
.top-navbar .icons{
  font-size: 15px;
}
.top-navbar a{
  text-decoration: none;
  color: black;
}

.top-navbar a:hover{
  color: black;
}
.top-navbar-link{
  font-size: 15px;
  display: flex;
  gap: 1rem;
}
.top-navbar-link a:hover{
  color: #ffc000;
}

.icons i{
  cursor: pointer;
}

.nav-header{
  background-color: #800080;
  display:flex;
  justify-content: space-between;
  padding: 0px 10px; 
  height: 80px;
  align-items: center;
  text-align: center;
  position: relative;
=======
.icons i{
  cursor: pointer;
  margin-right: 1rem;
}

.nav-header{

  background-color: #800080;
  display:flex;
  justify-content: space-between;
  padding: 0px 1rem; 
  height: 80px;
  align-items: center;
  text-align: center;
>>>>>>> 2d7a95a1f4727eda3b3dc568f72dd472b18503a5
}
.alt-color{
  color: #ffc000;
  font-size: 40px;
}
<<<<<<< HEAD
#span{
  color: #ffff;
  font-size: 40px;
}

=======
span{
  color: #ffff;
  font-size: 40px;
}
>>>>>>> 2d7a95a1f4727eda3b3dc568f72dd472b18503a5
.search input{
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

<<<<<<< HEAD

=======
.icons a {
  margin-right: 1rem; 
}
>>>>>>> 2d7a95a1f4727eda3b3dc568f72dd472b18503a5

.icons .fa{
  color: white;
  text-decoration: none;
  font-size: 22px;
<<<<<<< HEAD
=======
  padding-right: 0px , 10px;
>>>>>>> 2d7a95a1f4727eda3b3dc568f72dd472b18503a5
  transition: 0.6s;
}
.fa:hover{
  color: #ffc000 ;
}
.links{
  background-color: #800080;
  display: none;
  position: absolute; 
<<<<<<< HEAD
  width: 20%;
  right: 0;
  z-index: 1; 
  transition: 0.6s;
}
.links a:hover{
  color: #ffc000;
}
=======
  top: 80px; 
  left: 0;
  width: 100%;
  z-index: 1; 
  transition: 0.6s;
}
>>>>>>> 2d7a95a1f4727eda3b3dc568f72dd472b18503a5
.links a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 18px;
}
.showmylinks{
  height: auto;
  display: block;
}
#cart-number{
<<<<<<< HEAD
  font-size: 23px;
  color: white;
}
.icons{
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
}
=======
  font-size: 20px;
}


>>>>>>> 2d7a95a1f4727eda3b3dc568f72dd472b18503a5

.body-container{
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.body-width{
  margin: auto;
  max-width: 1060px;
 }
 .header{
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #800080;
  border-radius: 5px;
  color: #ffc000
 }
.grid-phone-deals{
  margin-top: 1rem;
  height: fit-content;
  border-radius: 5px;
}
.grid-header a{
  color: #ffc000;
  font-size: 20px;
}
.grid-header a:hover{
  color: #ffff;
}
.grid-header{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #800080;
  color: #ffc000;
  padding: 0 1rem;
}
.top-sales{
  display: grid;
  background-color: #ffff;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1px;
  padding: 20px;
}
.top-sales figure:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.top-sales img{
  padding: 0.5rem;
  height: 10rem;
}
.top-sales figcaption{
  line-height: 1.2rem;
  text-align: center;
}
.top-sales figcaption strong{
  font-size: 12px;
}
#LS{
  display: flex;
  justify-content: center;
}



.top-section h2{
  font-size: 25px;
  height: 10%;
}
.top-section{
  background-color:#FFFF;
  height: 13rem;
 text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding:0.5rem 0 0;
  margin:0 auto 1rem;
}
.phone-slide{
  height: 80%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.phone-slide-section{
  width: 10rem;
  height: fit-content;
}

.phone-slide-section-img{
  width: 8rem;
  height:7.5rem;
  padding: 0.5rem 0;
}
.phone-slide-section figcaption{
  font-size: 15px;
}
.phone-slide-section:hover{
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}
.arrow-right h3{
  padding-top: 1rem;
}
.arrow-right{
  width: 10rem;
  padding: 25px 0 0;
}
.arrow-right:hover{
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2); 
}
.fa-solid{
font-size: 4rem;
color: #800080;
}



/* first section */
.sections{
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2rem;
  justify-content: space-between;
  margin: 2rem auto;
}

.phone-section{
  background-color: white;
  padding: 1rem 0.5rem;
}
.phone-fig figure{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.phone-fig figure img{
  height: 8rem;
  width: 9rem;
}
.phone-fig figure figcaption{
  padding: 0.5rem 0 0;
  line-height: 1rem;
  font-size: 10px;
}
.phone-fig figure figcaption strong{
  line-height: 2rem;
  font-size: 15px;
}
.phone-fig{
  padding-top: 1rem;
  display: grid; 
  grid-template-columns: repeat(4,1fr);
}
.add-to-cart-button{
  opacity: 0;
  height: 2rem;
  background-color: #800080;
  border-radius: 10px;
  border: none;
}
.phone-fig figure:hover {
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.phone-fig figure:hover .add-to-cart-button{
  opacity: 1;
  cursor:pointer;
}

.chose-variety-menu a:hover {
  color: #800080;
}
.chose-variety{
  display:flex;
  justify-content: space-between;
}
.chose-variety h3{
  font-size:20px;
}

.chose-variety-menu-text a {
  font-size: 17px;
  color: #ffc000;
  padding: 1rem;
}

.chose-variety-menu-items{
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.chose-variety-menu:hover{
  background-color:#ffff;
}
.chose-variety-menu:hover .chose-variety-menu-items{
  display: block;
  background-color:#ffff;
}
.chose-variety-menu-items li{
  padding: 0.5rem  0;
}


/* second section */
.browse-catergory-container{
  height: max-content;
  background-color: white;
}
.browse-category a{
  font-size: 15px;
  line-height: 2rem;
  text-align: left;
}
.browse-category a:hover{
 color: #ffcc00;
}
.category-section{
  padding: 1rem;
  border-radius: 5px;
}
.browse-category{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding:1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.price-list label{
  font-size: 15px;
  line-height: 1.7rem;
}
.price-range{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-input{
  display: flex;
}
.price-range-container{
  display: flex;
  justify-content: space-around;
}
.price-range input{
  border: 1px solid black;
  margin-top: 1rem;
  padding: 6px 0;
  width: 45%;
}
.price-range button{
  margin-top: 1rem;
  width: 70%;
  height: 2rem;
  background-color: #800080;
  border: none;
  border-radius: 1rem;
  transition: background-color 0.15s, color 0.15s;
}
.price-range button:hover{
  color: #800080;
  background-color: #ffc000;
}
#search{
  height: 1.8rem;
  margin: 0 0 0.5rem;
  width: 85%;
}
#brand-names{
  margin-bottom: 1rem;
}
.search-Brand input{
  border-radius: 8px;
  border: 1px solid;
}
.brand-names-selector label{
  font-size: 16px;
  line-height: 2rem;
  padding-left:5px;
}

.rating-category label{
  font-size: 16px;
  line-height: 2rem;
  padding-left:5px;
}
.phone-16 i{
  font-size: 17px;
  color: #ffc000;
}
.fa-regular.fa-star {
  color: rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}


.footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-content ul li{
  margin-top: 1rem;
}
.footer-section {
  margin-bottom: 30px;
  font-size: 15px;
}

.footer-logo {
  font-size: 20px;
}

.footer-links ul,
.footer-section ul {
  list-style: none;
}

.footer-links li,
.footer-section li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-section a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover,
.footer-section a:hover {
  color: #ffcc00;
}

.newsletter-form {
  display: flex;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.newsletter-form button {
  padding: 10px;
  background-color: #ffcc00;
  color: #1e1e1e;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.newsletter-form button:hover {
  background-color: #fff;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}
.alt-color{
  color: #ffc000;
}
h3{
  color: #ffc000;
}