@media (max-width:860px){

  #search{
    font-size: 12px;
  }
  .top-sales img{
    height: 10rem;
  }
  .menu-btn {
    display: flex;
  }
  .nav-content {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #800080;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-content.active {
    display: flex;
  }

  ul {
    flex-direction: column;
    text-align: center;
  }

  ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-content{
    width: 80%;
    margin: auto;
  }
}
  @media (max-width: 768px) {
    .phone-fig figure {
      width: calc(50% - 1rem);
    }
    .links {
      top: auto;
      width: 100%;
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
    }
  }

  
  @media (max-width: 480px) {
    .phone-fig figure {
      width: 100%;
    }
  }




@media screen and (max-width: 583px){
  .top-navbar p,.top-navbar-link{
    font-size: 12px;
  }
  .alt-color,
  #span{
    font-size: 25px;
  }
  .icons .fa,#cart-number {
    font-size: small;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 15px;
  }
  .newsletter-form{
    display: flex;
    align-items: center;
  }
  .nav-header{
    flex-direction: column;
    height: auto;
    gap: 1rem;
    padding: 1rem;
  }
  .links {
    top: auto; 
  }
}


@media screen and (max-width: 399px){

  .newsletter-form input::placeholder{
    font-size: 10px;
   }
   .newsletter-form input{
    width: 60%;
   }
   .newsletter-form button{
    width: 30%;
    font-size: 10px;
    height: 35px;
   }
}


@media screen and (max-width: 300px){
  .top-navbar{
    margin: 0 0.4rem;
  }
  .top-navbar p,.top-navbar-link{
    font-size: 9px;
  }
  .footer-links a,
  .footer-section a{
    font-size: 10px;
  }
  .footer-section h3{
    font-size: 15px;
  }
}


